h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.form-border{
    border: solid #333 2px;
    border-radius: 0.25rem;
    padding: 10px;
}

div {
    padding: 5px;
}

.btn{
    color: #EEE;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    padding: 0.75rem;
    border-radius: .25rem;

    &--save{
        background-color: green;
        order:1;
    }

    &--cancel {
        background-color:#DF3545;
    }
}

.row {
    justify-content: space-between;
}

form{
    padding: 10px;
}